body {
	margin:0;
	background-color: #ffffff;
}

h1{
	color: #ffffff;
	padding-left: 15px;
	padding-bottom: 20px;
}

h1 small {
	color: #dddddd;
}

#searchLogo {
	width:35%;
	margin-top: 50px;
}

#searchBGImageContainer {
	left:0;
	position:absolute;
	width:100%;
	height:100%;
	background-image:url('../images/cookie-bg.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
}
#searchResultsContainer {
	position:absolute;
	width:100%;
	top:100%;
	height: 100px;
}

#howToContainer {
	position:absolute;
	width:100%;
	top:100%;
	height: 100px;
}

#recipeSearchField {
	display: inline-block;
	width: calc(100% - 120px);
}

.img-container {
	vertical-align: bottom;
	height: 225px;
	overflow: hidden;
}

.recipe-img {
	width: 100%;
}

.fill {
	object-fit: contain;
}

/*.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}*/

.search-results {
	display: inline-block;
	width: 25%;
	height: 350px;
	padding: 10px;
	vertical-align: top;
}

.search-recipe-card {
	border: 1px solid #dddddd;
	height: 250px;
}

.cardTitle {
	height: 40px;
}

.false {
	display: none;
}
.true {
	display: block;
}

#recipePageHeader {
	background: url('../images/cookie-bg.jpg');
	background-position: center top;
	background-size: 100% auto;
	height: 150px;
}

.recipe-logo {
	display: inline-block;
	height:100%;
}
.recipe-logo img {
	height:100%;
}
.recipe-search-bar {
	width:75%;
	display: inline-block;
	vertical-align: middle;
	height:100%;
}
