<!DOCTYPE html>
<html>
<head>

<title>The Talkative Chef</title>
<link rel="stylesheet" href="/public/vendors/bootstrap.min.css" />
<link href="https://fonts.googleapis.com/css?family=Amatica+SC:700|Londrina+Outline|Ribeye+Marrow" rel="stylesheet">
<link rel="stylesheet" href="/public/styles/style.css" />
<script type="text/javascript" src="/public/vendors/angular.min.js"></script>
<script type="text/javascript" src="/public/scripts/clientApp.js"></script>
<script type="text/javascript" src="/public/scripts/factories/recipeFactory.js"></script>
<script type="text/javascript" src="/public/scripts/controllers/search.js"></script>
<script type="text/javascript" src="/public/scripts/controllers/results.js"></script>
<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
<script type="text/javascript" src="/public/voice/voicefunction.js"></script>
</head>
<body ng-app="myApp">
	<div ng-controller="resultsController">
		<div id="recipePageHeader">
			<div class="recipe-logo">
				<img src="/public/images/logo-white.png" class="img-responsive" />
			</div>
			<div class="form-inline recipe-search-bar">
				<input id="recipeSearchField" name="recipeSearchField" ng-model="recipeSearchField" placeholder="Type your search here" type="text" class="form-control" />
				<button class="btn btn-success" ng-click="sendRequest()">Find Recipe</button>
			</div>
		</div>

		<input type="btn btn-success" value="Start" onclick="speech()" />
		<input type="button" value="Start" onClick="speech()">
		<div id="recipe-container">
			<div>
				<!-- <img src="{{recipeList.image}}"/> -->
				<ul ng-repeat="ingredient in recipeList.extendedIngredients">
					<p>{{ingredient.originalString}}</p>
				</ul>
			</div>
			<h5>{{recipeList.title}}</h5>
			<div>
				<ul ng-repeat="step in steps">
					<p>{{step.step}}</p>
				</ul>
			</div>
		</div>
	</div>

</body>
</html>
